*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: bisque;
     display: flex;
    align-items: center;
    justify-content: center; 
} 
.center{
    width: 600px;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center div{
    width: 30px;
    height: 80px;
    background-color: blueviolet;
    border: 1px solid violet;
    animation-name: anim1;
    animation-duration: 0.8;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    transform: scaleY(0.5);
}
.anim1{
    animation-delay: 0.1s;
}
.anim2{
    animation-delay: 0.2s;
}
.anim3{
    animation-delay: 0.3s;
}
.anim4{
    animation-delay: 0.4s;
}
.anim5{
    animation-delay: 0.5s;
}
.anim6{
    animation-delay: 0.6s;
}
@keyframes anim1{
    0%{
        transform: scaleY(0.5);
    }
    50%{
        transform: scaleY(2);
    }
    100%{
        transform: scaleY(0.5);
    }
}